body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: #E7DCDA;
}

header {
    background-color: white;
    padding: 10px;
    text-align: center;
    font-weight:bold;
}

.container {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    flex-direction: column;
    width: 380px;
    border-radius: 6px;
}

.Post {
    background-color: white;
    border-radius: 6px;
}

    .PostHeader{
        display: flex;
        justify-content: space-between;
        padding: 6px;
    }
    .HeaderImage{
        display: flex;
        padding: 5px;
    } 
    .HeaderText {
        margin-left: 10px;
    }

    .HeaderText >p {
        margin: 0;
    }
 
p {
  font-size: small;  
  text-justify: auto;
}
i {
    font-size:  x-large;
    padding: 5px;
}

.PostBody {
    padding: 15px;
}
.PostImage {
    position: relative;
}
.PostImage >div {
 position: absolute;
 top: 3%;
 right: 3%;
 color: white;
 font-size: xx-large;
 font-weight: bolder;
} 
.PostIcons {
    display: flex;
    justify-content: space-between;
}

.Interactions >i:first-child{
    color: red;
}